<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-details">
          <p><br>&copy; {{fechaActual | date: 'yyyy'}}. Todos los derechos reservados. Programado por Juan Navarra</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="menus d-flex">
          <ul class="list-unstyled texto-ayuda">
            <h6 class="text-white">Síguenos</h6>
            <li> <a routerLink="Instagram">Tweeter</a></li>
            <li> <a routerLink="Instagram">LinkedIn</a></li>
            <li> <a routerLink="Instagram">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="menus d-flex">
          <ul class="list-unstyled texto-ayuda">
            <h6 class="text-white">Conócenos</h6>
            <li> <a routerLink="/quienes-somos">Quiénes somos</a></li>
            <li> <a routerLink="/contacto">Contácta con nosotros</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>