footer.main-footer .copyrights {
    background: #2874a6 !important;
    margin-top: 0px;
    padding: 20px 0;
    font-size: 0.9em;
}

footer.main-footer {
    background:#2874a6 !important;
    padding: 38px 0 0;
    color: #fff;
}

.texto-ayuda{
    text-align: center !important;
    margin-left: 30% !important;
}
a:link, a:visited, a:active {
    text-decoration:none;
}