<header class="header">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg {{classNameCss}}">
        <div class="search-area">
            <div class="search-area-inner d-flex align-items-center justify-content-center">
                <div class="close-btn"><i class="icon-close"></i></div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <form action="#">
                            <div class="form-group">
                                <input type="search" name="search" id="search" placeholder="What are you looking for?">
                                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header d-flex align-items-center justify-content-between">
                <img routerLink="" src="/assets/images/logo.png" alt="" style="height: 70px; width: 70px;">
                <button type="button" data-toggle="collapse" data-target="#navbarcollapse"
                    aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler collapsed"><span></span><span></span><span></span></button>
            </div>
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a routerLink="/" class="nav-link color-header">Home</a>
                    </li>
                    <!-- <div class="dropdown">
                        <button class="btn dropdown-toggle color-header" type="button" data-toggle="dropdown">Recursos
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-header">
                            <li><a class="nav-link" routerLink="blog">Blogs</a></li>
                            <li><a class="nav-link" routerLink="videos-youtube">Videos de youtube</a></li>
                            <li><a class="nav-link" routerLink="podcasts">Podcasts</a></li>
                        </ul>
                    </div> -->
                    <li class="nav-item"><a routerLink="blog" class="nav-link color-header">Post</a>
                    </li>
                    <li class="nav-item"><a routerLink="videos-youtube" class="nav-link color-header">Videos de Youtube</a>
                    </li>
                    <li class="nav-item"><a routerLink="podcasts" class="nav-link color-header">Podcast</a>
                    </li>
                    <li class="nav-item"><a routerLink="faqs" class="nav-link color-header">Faqs</a>
                    </li>
                    <a href="http://localhost:4201/home" class="btn btn-info portal" target="_blank">Acceder</a>
                </ul>
            </div>
        </div>
    </nav>
</header>