<div class="container">
    <div class="row">
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail" *ngIf="entrada.imagenPost != null">
                        <img [src]="createImgPath(entrada.imagenPost)" alt="..." class="img-fluid"></div>
                    <div class="post-details">
                        <span class="badge badge-pill badge-light">
                            <h6 class="categoria-entrada">Categoría de: {{entrada.categoria}}</h6>
                        </span>
                        <div class="post-meta d-flex justify-content-between">
                            <div class="category"><a *ngFor="let kw of entrada.keyWords"
                                    class="tag">#{{kw.nombre}}</a></div>
                        </div>
                        <h1 class="title-entrada">{{entrada.titulo}}</h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                                class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="{{entrada.imagenCreador}}" alt="..." class="img-fluid">
                                </div>
                                <div class="title"><span>{{entrada.creador}}</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i> {{entrada.fechaCreacion | date:
                                    'mediumDate'}}</div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p class="lead">{{entrada.subTitulo}}</p>
                            <p [innerHTML]="entrada.descripcion">{{entrada.descripcion}}</p>
                            <blockquote class="blockquote" *ngIf="entrada.autorCita != null && entrada.cita != null">
                                <p>{{entrada.cita}}</p>
                                <footer class="blockquote-footer">{{entrada.autorCita}}</footer>
                            </blockquote>
                        </div>
                        <div class="post-tags keyWords-ground">
                            <a *ngFor="let kw of entrada.keyWords" class="tag keyWords">#{{kw.nombre}}</a>
                        </div>
                    </div>
                </div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                    <a routerLink="/blog" class="prev-post text-left d-flex align-items-center">
                        <div class="text"><strong class="text-primary">
                                <h6 class="footer-entrada">Quiero ver todos los posts.</h6>
                            </strong></div>
                    </a>
                </div>
            </div>
            <app-comentarios 
                [comentarios]="comentarios" 
                [slug]="slug">
            </app-comentarios>
        </main>
        <aside class="col-lg-4">
            <app-busqueda 
                (slug)="recibeEntrada($event)">
            </app-busqueda>
            <app-ultimos-posts 
                (slug)="recibeEntrada($event)" 
                (slug)="recibirComentarios($event)">
            </app-ultimos-posts>
            <app-categorias></app-categorias>
        </aside>
    </div>
</div>