<div class="widget search">
    <header>
        <h3 class="h6">Buscar entradas</h3>
    </header>
    <form novalidate class="search-form">
        <div class="form-group">
            <input type="search" placeholder="Escribe una palabra clave" [formControl]="busqueda">
            <ul class="busqueda">
                <li *ngFor="let i of busquedas"><a [routerLink]="['/blog/entrada',i.slug]"
                        (click)="obtenerSlugPost(i.slug)">{{i.titulo}}</a></li>
            </ul>
        </div>
    </form>
</div>