<div class="widget latest-posts">
    <header>
        <h3 class="h6">Ultimos Posts</h3>
    </header>
    <div *ngFor="let reciente of recientes" class="blog-posts">
        <a [routerLink]="['/blog/entrada',reciente.slug]" (click)="obtenerSlugPost(reciente.slug)" class="btn-last-post">
            <div class="item d-flex align-items-center">
                <div class="image">
                    <img *ngIf="reciente.tipo == 'PO'" [src]="createImgPath(reciente.imagen)" class="img-fluid">
                    <img *ngIf="reciente.tipo == 'YO'" src="/assets/images/YouTube.jpg" class="img-fluid">
                    <div *ngIf="reciente.tipo == 'PC'" class="col-md-1" style="color: #2874a6;">
                        <fa-icon [icon]="faPlayCircle" style="margin-left: -8px;" size="3x"></fa-icon>
                    </div>
                </div>
                <div class="title"><strong>{{reciente.titulo}}</strong>
                    <div class="d-flex align-items-center">
                        <div class="comments">{{reciente.fechaCreacion | date: 'mediumDate'}}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>